body{
    background-color:  #eae41f;
}

.logo_header{
    width: 49rem;
    margin-left: 19rem;
}

.fondoMan{
    background-color: red;
    background-color: red;
    margin-block-start: -1rem;
    margin-left: 51rem;
    margin-right: 261px;
}



.img-man{
    display:flex;
    width: 11rem;
    margin-left: 0rem;
    margin-top: -4px;
    height: 26rem;    
    transition: all 0.5s;
    cursor: pointer;
    
}

.img-man:hover{
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.preferencias-del-usuario{
    margin-left: 20rem;
    margin-top: -23rem; 
}
