body{
    background-color:  #eae41f;
}

.logo_header{
    width: 49rem;
    margin-left: 19rem;
}

.wrapper{
    background-color: red;
}


.img-man{
    display: flex;
    width: 15rem;
    margin-left: 54rem;
    margin-top: -17px;
    height: 21rem;    
    transition: all 0.5s;
    cursor: pointer;
    
}

:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
